

.Feedback{
    background-color: #f2d046;
    position: relative;
    padding: 100px 0;
}

.Feedback h1{
    text-align: center;
    padding-bottom: 20px;
}

.box-info{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

