.Footer{
    padding: 50px 0;
    background-color: #c3caca;
    color: #FFF;
    text-align: center;
}

.Footer .footer-left .social a img{
    /* max-height: 48px; */
    /* max-width: 48px; */
    width: 52px;
}